.switch-light {
    display: flex;
    justify-content: flex-end;

}


#save {
    width: 50%;
}

#cancel {
    width: 48%;
}


.messages {
    display: flex;
    flex-direction: column;
}


.nav-grid-container-navigation {
    display: flex;
    justify-content: space-between;
}


#timezone {
    width: 99%;
}

.button-disabled {
    width: 200px;
    height: 30px;
    background-color: gray;
}

.button-primary {
    width: 170px;
    height: 30px;
    background-color: blue;

}

.form-area {
    height: 100px;
}

#send {
    width: 100%
}


.settings {
    display: flex;
    flex-direction: column;

}


.widget-container {
    display: flex;
    flex-direction: column;


}

.activity-container {
    display: flex;
    justify-content: center;

}


.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.switch-toggle-switch-candy {
    display: flex;
    justify-content: space-between
}

.vertical-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bell-icon {
    display: flex;
    justify-content: center;
}

.Webapp {
    color: white;
}

.student-name-white {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

canvas {
    width: 100%;
    background-color: purple;
}

.social-flex {
    display: flex;
    flex-direction: column;
}

.social-container {
    background-color: grey;
    display: flex;

}

svg {
    display: none;

}

nav {
    background-color: red;


}

header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

img {

    width: 100px;
    border-radius: 50%
}

main {
    background-color: green;
}

main>* {
    border: 1px solid red;
}

.activity {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.activity-text {
    display: flex;
    justify-content: center;
}

.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    display: flex;
    justify-content: right;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
}

@media (min-width: 768px) {
    .social-flex {
        flex-direction: row;
        justify-content: space-between;
    }



    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }
}

.main {
    display: grid;
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: 50%;
    }
}

@media (min-width: 768px) {

    .traffic,
    .social {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 768px) {

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }
}

@media (min-width: 768px) {

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }
}

.widget-container-full,
.widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}