.grid-container {
 display: grid;

  grid-template-columns: 100%;
  grid-template-rows: auto ;

  grid-template-areas:
      "header"
      "nmain"
      "nav-main";
 

}


.header {
  grid-area: header;
}
.nav-main{
  grid-area: navigation;
}
.main {
  grid-area: main;
}

 .right-size-container{
height:50px;
width: 50px;
}

.charts{
height:50px;
width: 50px;
}

.settings{
height:50px;
width: 50px;
}

.home{
height:50px;
width: 50px;
}

.members{
height:50px;
width: 50px;
}






